body{
  background-color: #f5f5f5;
}

.card {
  border-radius: 10px;
  background-color: #fff;
  padding: 20px;
}

.page-container {
  padding: 10px;
  height: 100%;
  margin-bottom: 50px;
}

.page-header {
  margin-bottom: 10px;
  height: 40px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
